{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block absence_content %}
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-6">
        <h3>Please type in current and new passwords for user {{ username }}.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        {{ render_form( form, novalidate = True ) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
