{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/form.html' import render_field %}

{% block absence_content %}
<div class="container-fluid">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-8">User {{ user.name }} {{ user.surname }} - edit profile</h1>
    </div>
    <hr>
  </div>
</div>
<div class="container">
        <form action="" method="post" class="form" role="form" novalidate>
          {{ form.hidden_tag() }}
          
    <div class="form-group">
            <label class="form-control-label" for="name">Name</label>
{% if "name" in editablefields %}
            <input class="form-control" id="name" name="name" type="text" value = "{{ form.name.data }}">
{% else %}
            <input class="form-control" id="name" name="name" type="text" value = "{{ form.name.data }}" disabled>
{% endif %}
    </div>
   
    <div class="form-group">
            <label class="form-control-label" for="surname">Surname</label>
{% if "surname" in editablefields %}
            <input class="form-control" id="surname" name="surname" type="text" value = "{{ form.surname.data }}">
{% else %}
            <input class="form-control" id="surname" name="surname" type="text" value = "{{ form.surname.data }}" disabled>
{% endif %}
    </div>
   
    <div class="form-group">
            <label class="form-control-label" for="username">UserId</label>
{% if "username" in editablefields %}
            <textarea class="form-control" id="username" name="username">{{ form.username.data }}</textarea>
{% else %}
            <input class="form-control" id="username" name="username" type="text" value = "{{ form.username.data }}" disabled>
{% endif %}
    </div>
   
    <div class="form-group">
            <label class="form-control-label" for="mgrusername">Manager</label>
{% if "mgrusername" in editablefields %}
<!--
autofocus
-->
{% else %}
            <input class="form-control" id="mgrusername" name="mgrusername" type="text" value = "{{ form.mgrusername.data }}" disabled>
{% endif %}
    </div>
   
    <div class="form-group">
            <label class="form-control-label" for="email">Email</label>
{% if "email" in editablefields %}
            <input class="form-control" id="email" name="email" type="text" value = "{{ form.email.data }}">
{% else %}
            <input class="form-control" id="email" name="email" type="text" value = "{{ form.email.data }}" disabled>
{% endif %}
    </div>
   
    <div class="form-group">
            <label class="form-control-label" for="aboutme">About</label>
{% if "aboutme" in editablefields %}
            <textarea class="form-control" id="aboutme" name="aboutme">{{ form.aboutme.data }}</textarea autofocus>
{% else %}
            <textarea class="form-control" id="aboutme" name="aboutme" disabled>{{ form.aboutme.data }}</textarea>
{% endif %}
    </div>
   
    <div class="form-group">
            <input class="btn btn-secondary btn-md" id="submit" name="submit" type="submit" onclick="return validateNewAbsence()" value="Save">
    </div>
        </form>
</div>
{% endblock %}
