{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block absence_content %}

<!--- Absences -->
<div class="container-fluid">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-8">Your absences</h1>
    </div>
    <hr>
  </div>
</div>
<!--- Recent 3 Absences -->
<!--- New; View; Download -->
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Start      </th>
          <th>End        </th>
          <th>Category   </th>
          <th>Requested  </th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% if absences %}
          {# set przestrzen = namespace( notodisplay = 3 ) #}
          {# for absence in absences if przestrzen.notodisplay > 0 #}
          {% for absence in absences %}
            {% include "applogic/_tmpl_single_absence.html" %}
            {# set przestrzen.notodisplay = przestrzen.notodisplay -1 #}
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>
        <a href="{{ url_for( 'applogic.route_new_absence' ) }}"><button class="btn btn-outline-secondary">New</button></a>
        <a href="{{ url_for( 'applogic.route_show_absences', nazwauzytkownika = current_user.username ) }}"><button class="btn btn-outline-secondary">View</button></a>
        <a href="{{ url_for( 'applogic.route_export_absences', nazwauzytkownika = current_user.username ) }}"><button class="btn btn-outline-secondary">Download</button></a>
      </p>
    </div>
  </div>
</div>

<!--- Manager section -->
{% if user.role == 'P' %}
        <hr>
  <div class="container-fluid">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-8">Your team</h1>
      </div>
    </div>
  </div>
  {% if user.reports %}
    <div class="container-fluid padding">
      <div class="row padding">
        {% for dep_report in user.reports %}
          {% include "applogic/_tmpl_single_team_member.html" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <p>
          <a href="{{ url_for( 'applogic.route_new_profile' ) }}"><button class="btn btn-outline-secondary">New user</button></a>
          <a href="{{ url_for( 'applogic.route_show_absences' ) }}"><button class="btn btn-outline-secondary">View team absences</button></a>
          <a href="{{ url_for( 'applogic.route_export_absences' ) }}"><button class="btn btn-outline-secondary">Download team absences</button></a>
        </p>
      </div>
    </div>
  </div>
{% endif %}

<!--- Profile -->
    <hr>
<div class="container-fluid">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-8">Your profile</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
<!--- Fixed size details L Pane 6 -->
<!--- Update; Change Password -->
    <div class="col-md-6 col-sm-12">
      <p class="lead">
        Basic data:
      </p>
      <p>
        User {{ user.name }} {{ user.surname }} ({{ user.username }})
        {% if user.manager is not none %} reports to {{ user.manager.name }} {{ user.manager.surname }} ({{ user.manager.username }}). {% else %} is CEO. {% endif %}
      </p>
      <p>
        {{ user.email }}
      </p>
      <p>
        <a href="{{ url_for( 'applogic.route_edit_profile', nazwauzytkownika = current_user.username ) }}"><button class="btn btn-outline-secondary">Edit</button></a>
        <a href="{{ url_for( 'auth.route_password_change' ) }}"><button class="btn btn-outline-secondary">Change password</button></a>
      </p>
    </div>
<!--- About R Pane 6 -->
    <div class="col-md-6 col-sm-12">
      <p class="lead">
        Description:
      </p>
      <p>{{ user.aboutme }}</p>
    </div>
  </div>
</div>

{% endblock %}
