{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/form.html' import render_field %}

{% block absence_content %}
<script src="/static/js/timestamps_in_forms.js"></script>
<div class="container-fluid">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-8">New absence</h1>
    </div>
    <hr>
  </div>
</div>
<div class="container">
        <form action="" method="post" class="form" role="form" novalidate>
          {{ form.hidden_tag() }}
          
    <div class="form-group">
            <label class="form-control-label" for="choice_category">Absence category</label>
            <select class="form-control" id="choice_category" name="choice_category" autofocus>
              {% for opcja in form.choice_category.choices %}
                {% if opcja[ 0 ] == 1 %}
                  <option selected value="{{ opcja[ 0 ] }}">{{ opcja[ 1 ] }}</option>
                {% else %}
                  <option value="{{ opcja[ 0 ] }}">{{ opcja[ 1 ] }}</option>
                {% endif %}
              {% endfor %}
            </select>
    </div>
    
    <div class="form-group">
            <input class="form-control" id="ts_absence_start" name="ts_absence_start" required type="hidden" value="{{ form.ts_absence_start.data }}">
            <label class="form-control-label" for="ts_absence_start">Absence start</label>
            <input onchange="date_vis_changed( 'ts_absence_start', 'errMsgStart', 'start' )" class="form-control" id="ts_absence_start_vis" name="ts_absence_start_vis" required type="datetime-local" value="">
            <div class="invalid-feedback" id="errMsgStart"></div>
    </div>
          
    <div class="form-group">
            <input class="form-control" id="ts_absence_end" name="ts_absence_end" required type="hidden" value="{{ form.ts_absence_end.data }}">
            <label class="form-control-label" for="ts_absence_end">Absence end</label>
            <input onchange="date_vis_changed( 'ts_absence_end', 'errMsgEnd', 'end' )" class="form-control" id="ts_absence_end_vis" name="ts_absence_end_vis" required type="datetime-local" value="">
            <div class="invalid-feedback" id="errMsgEnd"></div>
    </div>
          
    <div class="form-group">
            <label class="form-control-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
    </div>
   
    <div class="form-group">
            <input class="btn btn-secondary btn-md" id="submit" name="submit" type="submit" onclick="return validateNewAbsence()" value="Save">
    </div>
        </form>
</div>
<script>
  zaladowaneBody();
  date_vis_changed( 'ts_absence_start', 'errMsgStart', 'start' )
  date_vis_changed( 'ts_absence_end', 'errMsgEnd', 'end' )
//  date_start_vis_changed();
//  date_end_vis_changed();
</script>
{% endblock %}
