{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/form.html' import render_field %}

{% block absence_content %}
    <script src="/static/js/timestamps_in_forms.js"></script>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-9">
        <h3>Use this form to post new absence.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">

        <form action="" method="post" class="form" role="form" novalidate>
          {{ form.hidden_tag() }}
          {{ render_field( form.choice_category, form_type = "horizontal", horizontal_columns=('lg', 3, 9) ) }}
          
          <div class="form-group row required">
            <input class="form-control" id="ts_absence_start" name="ts_absence_start" required type="hidden" value="{{ form.ts_absence_start.data }}">
            <label class="form-control-label col-lg-3" for="ts_absence_start">Absence start</label>
            <div class=" col-lg-9">
              <input onchange="date_start_vis_changed()" class="form-control" id="ts_absence_start_vis" name="ts_absence_start_vis" required type="datetime-local" value="">
              <div class="invalid-feedback" id="errMsgStart"></div>
            </div>
          </div>
          
          <div class="form-group row required">
            <input class="form-control" id="ts_absence_end" name="ts_absence_end" required type="hidden" value="{{ form.ts_absence_end.data }}">
            <label class="form-control-label col-lg-3" for="ts_absence_end">Absence end</label>
            <div class=" col-lg-9">
              <input onchange="date_end_vis_changed()" class="form-control" id="ts_absence_end_vis" name="ts_absence_end_vis" required type="datetime-local" value="">
              <div class="invalid-feedback" id="errMsgEnd"></div>
            </div>
          </div>
          
          {{ render_field( form.description, form_type = "horizontal", horizontal_columns=('lg', 3, 9) ) }}
          
          <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
              <input class="btn btn-secondary btn-md" id="submit" name="submit" type="submit" onclick="return validateNewAbsence()" value="Save">
            </div>
          </div>
          {# render_field( form.submit, form_type = "horizontal", horizontal_columns=('lg', 3, 9) ) #}
          
        </form>
        {# render_form( form, form_type = "horizontal", horizontal_columns=('lg', 3, 9), novalidate = True ) #}
        
      </div>
    </div>
  </div>
</div>
<script>
  zaladowaneBody();
  date_start_vis_changed();
  date_end_vis_changed();
</script>
{% endblock %}
