{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}

{% macro form_field_error( field_name ) -%}
                {% if form.errors[ field_name ] %}
                  <script>
                    document.getElementById( "{{ field_name }}" ).className += " is-invalid";
                  </script>
                  {% for blad in form.errors[ field_name ] %}
                    <span style="color:red;">[ {{ blad }} ]</span>
                  {% endfor %}
                {% endif %}
{% endmacro %}

<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {{ bootstrap.load_js() }}
      {{ moment.include_moment() }}

      {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
      {% endblock %}
      <style>
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*--- Bootstrap Button margin Fix --*/
[class~="btn"] {
  margin: 0.1rem;
}

      </style>

      <title>{% if title %}Absences - {{ title }}{% else %}Absences - Welcome{% endif %}</title>
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<!--
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
-->
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for( 'applogic.route_headpage' ) }}">Absences</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
              {{ render_nav_item( 'applogic.route_new_absence', 'New absence' ) }}
              {{ render_nav_item( 'applogic.route_show_absences', 'View absences', nazwauzytkownika = current_user.username ) }}
              {{ render_nav_item( 'applogic.route_export_absences', 'Download absences', nazwauzytkownika = current_user.username ) }}
              {{ render_nav_item( 'applogic.route_edit_profile', 'Edit Profile', nazwauzytkownika = current_user.username ) }}
              {{ render_nav_item( 'auth.route_password_change', 'Change password' ) }}
              {{ render_nav_item( 'auth.route_signout', 'Log off (' +current_user.username + ')' ) }}
            {% else %}
              {{ render_nav_item('auth.route_signin', 'Log on') }}
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <div class="container-fluid">
      <div class="row jumbotron bg-primary">
<!--
      <div class="row welcome text-center bg-primary">
-->
        <div class="col-12">
          <p class="lead text-white">
            Use this web app to record your absence.
          </p>
        </div>
      </div>
    </div>

    {{ render_messages() }}
    <!-- Your page content -->
    {% block absence_content %}{% endblock %}
  
            <hr>
    <footer>
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-12 padding">
            <p>
              Project Absences maintained by Aleks Tyc.
            </p>
            <p>
              <a style="padding:0.8rem" href="#"><img style="height:1.5rem" src="/static/img/GitHub-Mark-64px.png"></a>
              <a style="padding:0.8rem" href="#"><img style="height:1.5rem" src="/static/img/LI-In-Bug.png"></a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    {% block scripts %}
      <!-- Optional JavaScript -->
      {# bootstrap.load_js() #}
      {# moment.include_moment( local_js = "/static/moment-with-locales.min.js" ) #}
      {# moment.include_moment() #}
    {% endblock %}
  </body>
</html>
